<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993251629138-ikbnvkv9mj4al9cn9pnksjilha0cjfdf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993251629138-ikbnvkv9mj4al9cn9pnksjilha0cjfdf</string>
	<key>API_KEY</key>
	<string>AIzaSyCKhOh1QgRpDiN7Jmd8SrbVmwXoQ6CoDJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>993251629138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFlexWebsite</string>
	<key>PROJECT_ID</key>
	<string>giangtest-2fc07</string>
	<key>STORAGE_BUCKET</key>
	<string>giangtest-2fc07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993251629138:ios:ec6490ef8b77a6500e678b</string>
	<key>DATABASE_URL</key>
	<string>https://giangtest-2fc07.firebaseio.com</string>
</dict>
</plist>